<a href="{% url 'pjhoge:apphoge' %}"> </a>
<html>
  <head>
    {% load static %}
    <title>BIZIRI</title>
    
</head>
  <body bgcolor="#99CC99">
    <div style="margin-top:20px;">
      <h1> <font color="#ff9933"> <font size="30"> <p style="text-align: center">BIZIRI</p></font></font><h1></div><br>
    <div style="margin-top:10px;">
 <h2> <font color="#ff9933"> <font size="30"> <p style="text-align: center">〜あなたの文を美しくします〜</p></font></font><h2></div>	  

    
    <a class="a_more" href="{% url 'new' %}"><p style="text-align: center"> >>はじめる </p></a>
        {% block content %}
        {% endblock %}
    
</body>
</html>
   
