<a href="{% url 'pjhoge:apphoge' %}"> </a>
<html>
  <head>
    {% load static %}
    <title>BIZIRI</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
  <body>
    <div>
      <h1>BIZIRI</h1>
      <p class="sample1">ここに文字を表示</p>
    </div>
<a class="a_more" href="{% url 'new' %}"> >>はじめる </a>
</body>
</html>
   
