<html>
hoge4
<center>
  <head>
    {% load static %}
  </head>
  <body bgcolor="#89c3eb">
  <div style="margin-top:100px;">
      <h1> <font color="#000000"> <font size="10"> <p style="text-align: center">Biziri</p></font></font><h1></div><br>
      <div style="margin-top:-80px;">
      <p> <font color="#000000"> <font size="5"> <p style="text-align: center"><br>「」つの候補があります。
      <br>あなたのシチュエーションに合うものを選択してください。<br></p></font></font></p>	 
      <p><font size="5">候補一覧<br><br></font></p>
      <p><font size="3">入力文：</font></p>
      
<form action="{%url 'kouho'%}" method="get">
      <input type="text" name="kouhoname">
      <input type="submit" value="決定">
</form>
</center>
</html>