h1,h2{
     font-family: 'Lobster', cursive;
}
p{
    color: #FCA205;
}
body {
    background-color: #90ee90;
}

<a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">